.mySummary{
    list-style: cjk-earthly-branch;
}

body {
    margin-bottom: 3rem;
}

body > .container > section {
    /*border-bottom: 1px solid lightgray;*/
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
}

body > .container > section h2{
    margin-bottom: 1rem;
    padding: .5rem;
    /*background-color: var(--light);*/
    background-color: #e6e6e6;
}

h1{
    margin: 1.5rem auto;
    text-align: center;
}

















