<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>第一篇 基础语法</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<div class="container">
    <h1>第一篇 基础语法</h1>
    <section id="app" v-cloak>
        <h3>声明式渲染</h3>
        {{message}}<br>
        渲染到这里的时刻：{{new Date().getTime()}},与控制台上打印的DOMContentLoaded事件完成的时间作比较<br>
        <span :title="title">移到我上面查看标题</span><br>
        <img :src="src" :alt="alt">
        <ul class="mySummary">
            <li>采用Mustache的渲染方法：{{ }}
            <li>vue渲染的时机要比DOMContentLoaded早几到几百毫秒。</li>
            <li>页面显示并不会等到DOMContentLoaded事件之后，所以有时能看到双大括号闪烁，可通过指令<code>v-cloak</code>和样式<code>[v-cloak]{display:none}</code>来解决</li>
        </ul>
    </section>
    <section id="app2">
        <h3>条件渲染</h3>
        <div v-if="number===1">
            number是1
        </div>
        <div v-if="number===2">
            number是2
        </div>
        <div v-show="isShow">
            显示了
        </div>
        <ul class="mySummary">
            <li>v-if在条件不满足时不渲染
            <li>v-else-if使用条件：前一兄弟元素必须有 v-if 或 v-else-if
            <li>v-show在条件不满足时通过css将元素隐藏
        </ul>
    </section>
    <section id="app3">
        <h3>列表渲染(数组)</h3>
        <ul>
            <li v-for="(item,index) in items" v-show="item.price>10" v-bind:key="index">{{index+': '+
                item.name+','+item.price}}

            </li>
        </ul>
        <ul class="mySummary">
            <li>这里的index作为每条数据的id绑到属性key上，在列表更新时，可通过key决定DOM的复用策略</li>
            <li>在控制台可以通过<code>app3.items.push({name:'music',price:12})</code>来添加数据，实时显示</li>
        </ul>
    </section>
    <section id="app4">
        <h3>列表渲染(对象)</h3>
        <ul>
            <li v-for="(value,key,index) in obj">{{`${index}- ${key}:${value}`}}</li>
        </ul>
        <ul class="mySummary">
            <li>遍历对象时有三个参数，分别是值、键和下标</li>
            <li>
                遍历的对象不能在控制台中通过<code>app4.obj.other='another'</code>来增加属性，而要通过<code>Vue.set(app4.obj,'newKey','newValue')</code>来实现。因为Vue对有的属性变化检测不到
            </li>
            <li>Vue能检测到的变化：
                <ul>
                    <li>现有数据字段的变化：<code>item[0].isShow = true</code>;
                    <li>通过<code>Vue.set(object, key, value)</code>的⽅式添加的属性
                    <li>通过<code>Vue.delete(object, Key)</code>的⽅式删除的属性
                    <li><code>push()</code>
                    <li><code>pop()</code>
                    <li><code>shift()</code>
                    <li><code>unshift()</code>
                    <li><code>splice()</code>
                    <li><code>sort()</code>
                    <li><code>reverse()</code>
                    <li><code>filter()</code>
                    <li><code>concat()</code>
                    <li><code>slice()</code>
                </ul>
            </li>
            <li>Vue检测不到的变化：
                <ul>
                    <li>利用索引去设置新的数据时：<code>items[indexOfItem] = newItem;</code>
                    <li>直接修改数组的长度时：<code>items.length = newLength;</code>
                    <li>直接去添加或删除对象的属性：<code>app.dataSource.newKey = 'newValue';</code>
                </ul>
            </li>
        </ul>
    </section>
    <section id="app5">
        <h3>属性绑定</h3>
        <p :title="testTitle1Key+'-'+testTitle2Key">测试拼接字符串:{{testTitle1Key+'-'+testTitle2Key}}</p>
        <p :title="testTitle4Key-testTitle3Key">测试算术运算:{{testTitle4Key-testTitle3Key}}</p>
        <p :title="testObj">测试对象(鼠标移到我上面看title值，跟Mustache渲染出来的不同):{{testObj}}</p>
        <p :title="testObj2">测试的象重写toString(鼠标移到我上面看title值，跟Mustache渲染出来的不同):{{testObj2}}</p>
        <p :title="testArr">测试数组:{{testArr}}</p>
        <p :title="testArr2">测试数组重写toString(鼠标移到我上面看title值，跟Mustache渲染出来的不同):{{testArr2}}</p>
        <p :title="testMethod()">测试方法:{{testMethod()}}</p>
        <ul class="mySummary">
            <li>v-bind支持JavaScript单一表达式，可以绑定数组、对象和函数。其中前两者调用其toString方法，而函数输出其返回值。但要注意到Mustache渲染结果跟toString和valueOf无关</li>
        </ul>
    </section>
    <section id="app6">
        <h3>class/样式绑定</h3>
        <div :class="{'text-danger':isRed,'underLine':true}">看看我是不是带着下划线变红了</div>
        <div :class="testClassObj">我是被<strong>对象</strong>设置的变绿色了</div>
        <div :class="testClassArr">我是被<strong>数组</strong>设置的蓝色加下划线</div>
        <div :class="[isRed?'text-danger':'text-success']">我是被<strong>三目运算符</strong>设置的颜色,class中的中括号可以不要</div>
        <div :class="[{'underLine':true},testClassObj]">我是被<strong>数组中嵌套的对象</strong>设置的颜色</div>
        <div style="font-size:1.25rem;" :style="isBlue ? 'color:#007bff' : 'color:red'">
            我是<strong>绑定到style属性的三目运算符表达式，结果为字符串</strong>设置的颜色，不会整个覆盖原生的style
        </div>
        <div :style="{color:'#dc3545','font-weight':'bold',fontSize:testFontSize+'px'}">
            支持style绑定对象形式的写法，属性名如果不带引号则需要用驼峰写法，带引号按需使用连字符。属性值可以拼接
        </div>
        <div :style="testDisplay">请查看我的style属性——vue只渲染最后一个被浏览器支持的值</div>
    </section>
    <section id="app7">
        <h3>v-model绑定</h3>
        <input v-model=testText>
        <p>单行文本框的值为：{{testText}}</p>
        <input type="checkbox" id="checkbox1" value="天" v-model="testCheckbox">
        <label class="mr-2" for="checkbox1">天</label>
        <input type="checkbox" id="checkbox2" value="地" v-model="testCheckbox">
        <label class="mr-2" for="checkbox2">地</label>
        <input type="checkbox" id="checkbox3" value="人" v-model="testCheckbox">
        <label class="mr-2" for="checkbox3">人</label>
        <p>复选框的绑定值为：{{testCheckbox}}</p>
        <ul class="mySummary">多选框绑定
            <li>如果v-model的值为<strong>数组</strong>，则依次绑定对应checkbox的value值，没有value值的为null且会同时动作；选中CheckBox后则自动添加对应value值到数组中。
            </li>
            <li>如果v-model的值为<strong>字符串</strong>，则会绑定checked的值，这时有一个发生变化，所有的CheckBox都会同时动作，即是全选按钮效果。</li>
        </ul>
        <input type='radio' id='radio1' value='佛' v-model='testRadio'>
        <label class="mr-2" for='radio1'>佛</label>
        <input type='radio' id='radio2' value='魔' v-model='testRadio'>
        <label class="mr-2" for='radio2'>魔</label>
        <input type='radio' id='radio3' value='心' v-model='testRadio'>
        <label class="mr-2" for='radio3'>心</label>
        <input type='radio' id='radio4' value='未绑定v-model'>
        <label class="mr-2" for='radio4'>未绑定v-model</label>
        <p>单选按钮的绑定值为：{{testRadio}}</p>
        <ul class="mySummary">单选按钮绑定
            <li>v-model为字符串，值与选中单选按钮的value同步变化。</li>
            <li>绑定相同的v-model值后不写name属性也会达到编组单选的效果。</li>
        </ul>
        <select v-model='testSelect'>
            <option value=1>第一项</option>
            <option value=2>第二项</option>
            <option value=3>第三项</option>
        </select>
        <p>下拉框的绑定值为：{{testSelect}}</p>
        <select multiple='true' v-model='testSelectMul'>
            <option value=1>第一项</option>
            <option value=2>第二项</option>
            <option value=3>第三项</option>
        </select>
        <p>下拉框的绑定值为：{{testSelectMul}}</p>
        <ul class="mySummary">下拉框绑定
            <li>绑定的都是value值，单选下拉框的v-model为字符串，多选下拉框的v-model为数组。</li>
        </ul>
        <h3>v-model修饰符</h3>
        <input v-model.lazy="testLazy">
        <p>.lazy——后面的数据在执行change事件时改变(本例中失焦时可观察到)：<span style='background:skyblue;'>{{testLazy}}</span></p>
        <input v-model.number="testNumber">
        <p>.number——后面的数据自动转为Number类型(在控制台通过app7.testNumber查看,数字开头会去除后面的非数字，字母开头就是字符串)：<span
                style='background:skyblue;'>{{testNumber}}</span></p>
        <input v-model.trim="testTrim">
        <p>.trim——后面的数据自动去除前后空格(<span class='text-danger'>貌似不写也只会保留前面一个空格和去除后面的空格)</span>：<span
                style='background:skyblue;'>{{testTrim}}</span></p>
    </section>
    <section id="app8">
        <h3>事件绑定</h3>
        <button v-on:click="counter+=1">counter+=1</button>
        <p>直接绑定表达式 counter:{{counter}}
        <div class="text-danger">不能绑JS原生方法的语句，比如 v-on:click="alert(0)"，会报错</div>
        </p>
        <button @click="testOnclickMethods">testOnclickMethods</button>
        <p>调用vue中自定义方法</p>
        <button @click="onSumClick(11,22,$event)">onSumClick(11,22,$event)</button>
        <p>方法传参,其中$event是原生事件对象，可在控制台中看到当前元素的路径</p>
        <input v-model="inputMsg" @keyup="onChange">
        <p>绑keyup事件 inputMsg：{{inputMsg}}</p>
        <ul class="mySummary">
            <li>如果使用原生的onclick则无法获取到vue定义的counter变量</li>
            <li>直接调用vue中定义的方法，会默认传入当前的DOM原生事件</li>
        </ul>
        <h3>事件修饰符</h3>
        <div class="p-3 border" @click="testOnclickMethods">testOnclickMethods
            <button @click="onSumClick(11,22)">onSumClick(11,22)</button>
        </div>
        <p>没有添加修饰符的情况</p>
        <div class="p-3 border" @click="testOnclickMethods">testOnclickMethods
            <button @click.stop="onSumClick(11,22)">onSumClick(11,22)</button>
        </div>
        <p><code>.stop</code>——阻止事件冒泡</p>
        <a href="http://e-art.top" @click.prevent="onSumClick(11,22)" target="_blank">http://e-art.top?这个链接绑定到求和方法上</a>
        <p><code>.prevent</code>——阻止默认事件（光弹出不跳转）</p>
        <div class="p-3 border" @click.capture="testOnclickMethods">testOnclickMethods
            <button @click="onSumClick(11,22)">onSumClick(11,22)</button>
        </div>
        <p><code>.capture</code>——事件改为捕获模式（默认为冒泡）</p>
        <div class="p-3 border" @click.self="testOnclickMethods">testOnclickMethods
            <button @click="onSumClick(11,22)">onSumClick(11,22)</button>
        </div>
        <p><code>.self</code>——只处理元素本身的事件，而不处理冒泡或捕获来的</p>
        <div class="p-3 border" @click.once="testOnclickMethods">testOnclickMethods
            <button @click="onSumClick(11,22)">onSumClick(11,22)</button>
        </div>
        <p><code>.once</code>——事件触发一次后就被删除（修饰符绑在外层，包括被冒泡，可测试）</p>
        <div id="#testScroll" @scroll.passive="myPreventDefault" style='height:5rem;overflow: scroll;' class="p-3 border">
            <div class='border' style="height:8rem;">滚动我试试？
                <div class='text-danger'>感受不够深刻</div>
                <p>1~<br><br>
                <p>2~<br><br>
                <p>3~<br><br>
            </div>
        </div>
        <p><code>.passive</code>——恢复浏览器事件默认行为，每次事件产生，浏览器都会去查询一下是否有preventDefault阻止该次事件的默认动作。
            我们加上passive就是为了告诉浏览器，不用查询了，我们没用preventDefault阻止默认动作。一般用在滚动监听，@scoll，@touchmove 。
            因为滚动监听过程中，移动每个像素都会产生一次事件，每次都使用内核线程查询prevent会使滑动卡顿。我们通过passive将内核线程查询跳过，可以大大提升滑动的流畅度。
            注意不能和prevent一起用，因为后者会被忽略。</p>
<!--
        <div class="p-3 border" @click="testOnclickMethods">testOnclickMethods
            <a href="http://e-art.top" @click.prevent.self="onSumClick(11,22)" target="_blank">http://e-art.top
                <button @click="onSumClick(1, 2)">onSumClick</button>
            </a>
        </div>
-->
        <div class="p-3 border" @click="testOnclickMethods">testOnclickMethods
            <a href="http://e-art.top" @click.prevent.self="onSumClick(11,22)" target="_blank">http://e-art.top
                <button @click="onSumClick(1, 2)">onSumClick(1, 2)</button>
            </a>
        </div>
        <p><code>.prevent.self</code>——阻止了传播a的默认行为和事件，可以理解为先阻止默认跳转后再过滤掉传播来的。</p>
        <div class="p-3 border" @click="testOnclickMethods">testOnclickMethods
            <a href="http://e-art.top" @click.self.prevent="onSumClick(11,22)" target="_blank">http://e-art.top
                <button @click="onSumClick(1, 2)">onSumClick(1, 2)</button>
            </a>
        </div>
        <p><code>.self.prevent</code>——只阻止了a的点击事件，可以理解为把自身（self）的默认行为（prevent）阻止，而通过传播来的事件会触发默认动作跳转。</p>
        <ul class="mySummary">
            <li class="text-danger">可以这样理解，对于a标签，事件触发有3种行为：浏览器默认(跳转)+自身触发+捕获或冒泡触发；<br>
                .prevent.self相当于先阻止默认行为，再过滤掉捕获冒泡行为；<br>
                .self.prevent相当于先过滤出来自身的行为，再阻止其中默认行为，而对捕获冒泡传播来的默认行为没有阻止。
            </li>
        </ul>

    </section>
</div>

<script src="../assets/js/jquery-3.3.1.js"></script>
<script src="../assets/js/vue-2.5.17.js"></script>
<script src='../js/01_grammar.js'></script>
<script src='../js/common.js'></script>
</body>
</html>